*{
margin: 0;
padding: 0;
}

/* logo */
.logo{
    width: 80px;
    text-align: center;
}
.logo img{
    width: 160px;
    height: 80px;
    margin-left: 93%;
   margin-top: 9px;
}

/* navbar */
.navbar{
    /* border: 3px solid red; */
    background-color: white;
    display: flex;
    height: 96px;
    position: sticky;
    top: 0;
    z-index: 1;
}
/* navbar bottom shadow line */
.navbar.scrolled{
    border-bottom: 1px solid rgb(158, 155, 155);
    box-shadow: 0px 0px 3px 0px;
}

.navbar ul{
    display: flex;
    align-items: center;
    margin-left: 52.5%;
}
.navbar ul li{
    list-style: none;
    margin-top: 33px;
    
}
.navbar ul li a{
    text-decoration: none;
    margin: 0px 45px;
    color: black;
}
/* red underline below the navbar elements */
.navbar ul li a::after{
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background-color: #f00; /* Initial color of the line */
        /* position: absolute; */
        bottom: 20px;
        left: 20%;
        transition: width 0.3s ease, background-color 0.3s ease, left 0.3s ease;
        transform: translateX(-85%);

}
.navbar ul li a.active::after {
    width: 65%;
    background-color: #f00; /* Color of the line when active */
    left: 20%;
}


/* home section */
.home{
    display: flex;
}
.home img{
    width: 48%;
    margin-right: 72px;
    margin-top: 29px;
}

.details{
    margin-left: 76px;
    margin-top: 122px;
}
.details h3{
    font-size: 2rem;
}
.details p{
    margin-top: 21px;
    font-size: 1.2rem;
}
/* button in home section */
#home_btn{
    padding: 12px;
    width: 145px;
    margin-top: 34px;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 120, 120);
    color: white;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  /* three circle buttons */
.but_three{
    margin-left: 47.5%;  
}
.circle.change{
    background-color: rgb(250, 120, 120);
}


/* whytens section */
.whytens{
    text-align: center;
}
.whytens h2{
   font-size: 2.3rem;
   margin-top: 111px;
}
.whytens p1{
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    font-size: 1.1rem;
}
.whytens p2{
    display: block;
    width: 56%;
    margin: auto;
    margin-top: 58px;
    font-size: 1.1rem;
}
.whytens img{
    display: block;
    margin: auto;
    width: 57%;
}
.whytens p3{
    display: block;
    width: 61%;
    margin: auto;
    margin-top: 58px;
    font-size: 1.1rem;
}


/* speciality section */
.speciality h2{
    display: block;
    text-align: center;
    font-size: 1.9rem;
    margin-top: 60px;
}
.speciality p1{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 90px;
    font-size: 1.1rem;
}
.wireframe{
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
}

/* boxes in speciality section */
.box1{
    /* border: 2px solid red; */
    margin-right: 130px;
    width: 39%;
}
.box1 h3{
    margin-top: 15px;
}
.box1 p{
    margin-top: 15px;
    width: 103%;
}

.box2{
    /* border: 2px solid red; */
    margin-right: 70px;
    width: 58%;
}
.box2 h3{
    margin-top: 28px;
}
.box2 p{
    margin-top: 15px;
    width: 74%;
    margin-left: 57px;
}

.box3{
    /* border: 2px solid red; */
    width: 51%;
}
.box3 h3{
    margin-top: 39px;
}
.box3 p{
    margin-top: 15px;
    width: 80%;
    margin-left: 38px;
}

/* clients section */
.clients{
    text-align: center;
}
.clients h2{
    font-size: 2.2rem;
    margin-top: 180px;
}
.clients p{
    width: 59%;
    margin: auto;
    font-size: 1.1rem;
    margin-top: 18px;
    margin-bottom: 82px;
}
.clients img{
    width: 100%;
}

/* team section */
.team{
    text-align: center;
}
.team h2{
    margin-top: 185px;
    margin-bottom: 15px;
    font-size: 2rem;
}
.team p1{
    display: block;
    width: 59%;
    margin: auto;
    font-size: 1.1rem;
}
.team p2{
    display: block;
    margin-top: 63px;
    margin-bottom: 59px;
    font-size: 1.1rem;
    font-weight: bold;
}
.team_box{
    display: flex;
    width: 63%;
    margin: auto;
}
/* boxes in team section */
.backend{
    margin-right: 5px;
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(117, 193, 129);
    color: white;
}
.backend h3{
    margin-bottom: 45px;
}
.backend ul{
    padding: 5px;
}

.graphic{
    margin-right: 20px;
    margin-left: 20px;
    width: 40%;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 8px;
    background-color: rgb(88, 187, 238);
    color: white;
}
.graphic ul{
    padding: 5px;
}

.operations{
    margin-left: 5px;
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(248, 161, 63);
    color: white;
}
.operations h3{
    margin-bottom: 46px;
}
.operations ul{
    padding: 5px;
}
/* button in boxes */
.touch{
    padding: 15px;
    margin-top: 10px;
    width: 65%;
    border-radius: 3px;
    color: white;
    border: none;
    background-color:rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
}

/* contact section */
.contact{
    background-image: url(assets/img/map1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 18px;
    padding-bottom: 160px;
    color: white;
    text-align: center;
    z-index: -1;
    opacity: 0.8;
}
.contact h3{
    padding-top: 80px;
    font-size: 2rem;
}
.contact p{
    margin: auto;
    margin-top: 20px;
    width: 50%; 
}
.contact p span{
    color: rgb(255 134 134);
}
/* button in contact section */
.mail{
    margin-top: 20px;
    padding: 10px;
    width: 10%;
    font-weight: bold;
    background-color: rgb(224, 93, 92);
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
/* copyright section */
.copyright{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}